<div class="modal" data-ng-controller="MovieController">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" ng-click="cancel()">&times;</button>
				<h4 class="modal-title">Sign in to Movie Beans</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<p>Choose a provider to sign in, or to create a new account</p>
				</div>
				<div class="row">
			        <div class="col-xs-3">
			          <a href="/signin" class="thumbnail">
			            <img src="/img/icons/github.png" >
			            <div class="caption">
			        		<h5>Movie Beans</h5>
			        	</div>
			          </a>
			        </div>
			        <div class="col-xs-3">
			          <a href="/auth/facebook" class="thumbnail">
			            <img src="/img/icons/facebook.png" >
			            <div class="caption">
			        		<h5>Facebook</h5>
			        	</div>
			          </a>
			        </div>
			        <div class="col-xs-3">
			          <a href="/auth/twitter" class="thumbnail">
			            <img src="/img/icons/twitter.png" >
			            <div class="caption">
			        		<h5>Twitter</h5>
			        	</div>
			          </a>
			        </div>
			        <div class="col-xs-3">
			          <a href="/auth/google" class="thumbnail">
			            <img src="/img/icons/google.png" >
			            <div class="caption">
			        		<h5>Google</h5>
			        	</div>
			          </a>
			        </div>
		      	</div>
			</div>
		</div>
	</div>
</div>