<section data-ng-controller="MovieController" data-ng-init="findMovieById()">
    <div class="row">
        <div class="col-lg-8">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="col-lg-3" style="margin-top: 20px">
                        <img src="../img/movies/2013/large/Dhoom_3_Film_Poster.jpg" alt="Dhoom 3" class="img-thumbnail">
                    </div>
                    <div class="col-lg-9">
                        <h2>{{movie.title}}</h2>
                        <hr/>
                        <div>
                            <script id="template/rating/rating.html" type="text/ng-template">
                                <span ng-mouseleave="reset()">
                                <i ng-repeat="r in range" ng-mouseenter="enter($index + 1)" ng-click="rate($index + 1)" class="glyphicon" ng-class="$index < val && (r.stateOn || 'glyphicon-star') || (r.stateOff || 'glyphicon-star-empty')"></i>
                                </span>
                            </script> 
                            <b>Your rating:</b> 
                            <span ng-click="updateUserRating()"><rating value="userRating.rating" max="10" readonly="isReadonly" on-hover="hoveringOver(value)" ></rating></span>  {{userRating.rating || '-'}} / 10
                            
                        </div>            
                        <div>
                            Ratings: {{(movie.rating/movie.totalUsersRated) ||  0}}/10 from {{movie.totalUsersRated}} users
                        </div>
                        <hr/>
                        <p>{{movie.bio}}</p>
                        <table>
                            <tr>
                                <th>Directors: </th>
                                <td>
                                    <span data-ng-repeat="director in movie.directors">
                                        <a href="../#!/people/{{director._id}}">{{director.name}}</a>
                                        <span ng-show=" ! $last ">,</span>
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <th>Producers: </th>
                                <td>
                                    <span data-ng-repeat="producer in movie.producers">
                                        <a href="../#!/people/{{producer._id}}">{{producer.name}}</a>
                                        <span ng-show=" ! $last ">,</span>
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <th>Actors: </th>
                                <td>
                                    <span data-ng-repeat="actor in movie.actors.slice(0, 4)">
                                        <a href="../#!/people/{{actor._id}}">{{actor.name}}</a>
                                        <span ng-show=" ! $last ">,</span>
                                    </span>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8">
            <div class="panel panel-default">
                <div class="panel-heading">Songs</div>
                    <div class="panel-group" id="accordion">
                        <div class="panel" data-ng-repeat="song in movie.songs">
                            <div class="panel-heading">
                                <a style="text-decoration: none;color: #333" data-toggle="collapse" data-parent="#accordion" href="#{{song._id}}">
                                    <h4 class="panel-title">
                                        {{song.title}} <i class="glyphicon glyphicon-chevron-right pull-right"></i>
                                    </h4>
                                </a>
                            </div>
                            <div id="{{song._id}}" class="panel-collapse collapse">
                                <div class="panel-body">
                                    {{song.title}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8">
            <div class="panel panel-default">
                <div class="panel-heading">Cast</div>
                <table class="table table-hover">
                    <tbody>
                        <tr data-ng-repeat="actor in movie.actors">
                            <td>{{actor.name}} as {{actor.knownAs}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row" data-ng-show="global.authenticated && isUserReviewPresent">
        <div class="col-lg-8">
            <div class="panel panel-default">
              <div class="panel-heading">Your Review</div>
              <div class="panel-body">
                {{userReview.text}}
              </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8">
            <div class="panel panel-default">
                <div class="panel-heading">Movie Reviews</div>
                <ul class="list-group" data-ng-repeat="review in movieReviews">
                    <li class="list-group-item">
                        <h4 class="list-group-item-heading">{{review.userName}} <small>on {{review.posted}}</h4>
                        <hr/>
                        <p class="list-group-item-text">{{review.text}}</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row" data-ng-show="!global.authenticated || !isUserReviewPresent">
        <div class="col-lg-8">
            <div class="{{isCollapsed}}">
                <div class="well well-large">
                    <textarea class="form-control" rows="3" ng-model="userReview.text" placeholder="Add review here"></textarea>
                </div> 
                <div class="pull-right">
                    <button type="submit" class="btn btn-primary" ng-click="submitReview()">Submit Review</button>
                </div>
            </div>
            <span data-ng-show="isCollapsed == 'collapse'">
            <button class="btn btn-info" ng-click="addReview()">Add Review</button>
            </span>
        </div>
    </div>
</section>