<section data-ng-controller="MovieController">
    <div class="row">
        <div class="col-lg-2" style="margin-top: 20px">
            <img src="../img/movies/2013/large/Dhoom_3_Film_Poster.jpg" alt="Dhoom 3" class="img-thumbnail">
        </div>
        <div class="col-lg-6">
            <h2>{{movie.title}}</h2>
            <hr/>
            <p>Dhoom 3 is an upcoming Hindi action thriller film, written and directed by Vijay Krishna Acharya and produced by Aditya Chopra. It will be the third installment of the popular Dhoom series. Abhishek Bachchan and Uday Chopra will reprise their roles as Jai Dixit and Ali Akbar while Aamir Khan and Katrina Kaif form the antagonist duo. Believed to be one of the most expensive Indian films of all time, Dhoom 3 will be released on 20 December 2013 in regular 2D and IMAX formats. This is the first Bollywood movie to be released in the IMAX format. The film will also be released in Dolby Atmos. The film is also being dubbed into Telugu and Tamil for release in South India, and into Arabic for release in the Middle East.</p>

        </div>
    </div>
</section>