<section data-ng-controller="MovieController">
    <div class="row">
        <div class="col-lg-2" style="margin-top: 20px">
            <img src="../img/movies/2013/large/Dhoom_3_Film_Poster.jpg" alt="Dhoom 3" class="img-thumbnail">
        </div>
        <div class="col-lg-6">
            <h2>{{movie.title}}</h2>
            <hr/>
            <div>
                <script id="template/rating/rating.html" type="text/ng-template">
                    <span ng-mouseleave="reset()">
                        <i ng-repeat="r in range" ng-mouseenter="enter($index + 1)" ng-click="rate($index + 1)" class="glyphicon" ng-class="$index < val && (r.stateOn || 'glyphicon-star') || (r.stateOff || 'glyphicon-star-empty')"></i>
                    </span>
                </script> 
                <b>Your rating:</b> <rating value="movie.userRating" max="10" readonly="isReadonly" on-hover="hoveringOver(value)" on-leave="overStar = null"></rating>  {{movie.userRating}} / 10
            </div>
            <div>
                Ratings: {{movie.rating}}/10 from {{movie.totalUsersRated}} users
            </div>
            <hr/>
            <p>{{movie.bio}}</p>
            <table>
                <tr>
                    <th>Directors: </th>
                    <td>
                        <span data-ng-repeat="director in movie.directors">
                            <a href="../#!/people/{{director._id}}">{{director.name}}</a>
                            <span ng-show=" ! $last ">,</span>
                        </span>
                    </td>
                </tr>
                <tr>
                    <th>Producers: </th>
                    <td>
                        <span data-ng-repeat="producer in movie.producers">
                            <a href="../#!/people/{{producer._id}}">{{producer.name}}</a>
                            <span ng-show=" ! $last ">,</span>
                        </span>
                    </td>
                </tr>
                <tr>
                    <th>Actors: </th>
                    <td>
                        <span data-ng-repeat="actor in movie.actors.slice(0, 4)">
                            <a href="../#!/people/{{actor._id}}">{{actor.name}}</a>
                            <span ng-show=" ! $last ">,</span>
                        </span>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8">
            <h4>Songs</h4>
            <table class="table table-striped table-hover">
                <tbody>
                    <tr data-ng-repeat="song in movie.songs">
                        <td>{{song.title}}</td> 
                        <td>
                            <span data-ng-repeat="singer in song.singers">
                            <a href="../#!/people/{{singer._id}}">{{singer.name}}</a>
                            <span ng-show=" ! $last ">, </span>
                        </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8">
            <h4>Cast</h4>
            <table class="table table-striped table-hover">
                <tbody>
                    <tr data-ng-repeat="actor in movie.actors">
                        <td>{{actor.name}} as {{actor.knownAs}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>