<section data-ng-controller="SearchController">
    <div class="row">
        <div class="col-lg-6">
            <h2><small>Results for </small>"{{searchString}}"</h2>
            <h4>Movies</h4>
            <table class="table table-striped table-hover">
                <tbody>
                    <tr data-ng-repeat="movie in movies">
                        <td><a href="../#!/movie/{{movie._id}}">{{movie.data.text}}</a></td> 
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>