extends ../layouts/default

block content
  .row
    .col-xs-5.col-xs-offset-1
      a(href="/auth/facebook")
        img(src="/img/icons/facebook.png")
      a(href="/auth/twitter")
        img(src="/img/icons/twitter.png")
      a(href="/auth/google")
        img(src="/img/icons/google.png")
    .col-xs-3
      if (typeof errors !== undefined && errors.length > 0)
        .alert.alert-error.alert-dismissable
          a.close(data-dismiss="alert", href="javascript:void(0)") x
          ul
            each error in errors
              li= error.type

      block auth
